@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

/*------------------------Variables*/

:root{
    /* colores */
    --green-color:#04c504;
    --white-color: white;
    --black-color: black;
    /* space */
    --space:10px;
    /* Tipografia */
    --normal:14px;
    /* box shadow */
    --box: 0 0 1px #d2cfcf;
}

/*------------------------Variables*/

html, body{
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

nav{
    display: flex;
    background-color: var(--green-color);
    padding: 5px;
    color: var(--white-color);
    justify-content: space-between;
    align-items: center;
}


nav ul{
    display: flex; 
}

nav li{
    padding-left: 20px;
    list-style: none ;
}

nav li a{
     color: var(--white-color);
     text-decoration: none;
     font-size: var(--normal);
     
}

nav li a:hover{
    color: var(--white-color);
}

p{
    margin: 0;
}

/* ------------------------ Main section */



.main_section{
    padding: 15%;
    text-align: center;
}

.products-box{
    background-image: url("../images/curve.png ");
    max-height: 50px;
    background-size: cover;
    background-position: center top; 
    padding: 30%;
    display: flex;
}

.product-box{
    padding: var(--space);
    margin-top: -650px;
    text-align: center;
}

.product-box .content-box{
    background-color: var(--white-color);
    padding: 15px;
    border: var(--space);
    box-shadow:var(--box);
}

.img_content{
    text-align: center;
}

.img-box{
    width: 200px;
    height: 150px;
}

.main-buttom{
    background-color:var(--green-color);
    width: 100%;
    padding: var(--space);
    font-size: 17px;
    color: var(--white-color);
    border: 0;
}

.main-buttom:hover{
    background-color: #0a7c0a;
    cursor: pointer;
    border-radius: 2px;
}
.catalog{
    padding: var(--space);
    display: flex;
    justify-content: center;
}

.catalog-product{
    border:  rgb(214, 214, 214);
    padding: 15px;
    text-align: center;
    padding: 15px;
    margin: 70px;
}

.img-product{
    width: 400px;
    height: 400px;
}

.title-comments{
    text-align: center;
    justify-content: center;
}

.opinion{
    text-align: center;
    display: flex;
    justify-content: center;
}

.opinion-clients{
    margin: 20px;
}

.img-client{
    width: 200px;
    height: 200px;
    border-radius: 200px 200px 200px 200px;
}

.comments{
    border: solid gray 1px;
    padding: 10px;
    width: 200px;
    height: 80px;
    text-align: center;
}

.footer{
    padding: 15px;
    border: 5px;
    background-color: #1d252c;
    color: white;
    text-align: right;
}