html, body{
    padding: 0px;
    margin: 0px;
    font-family: 'Arial';
}

nav{
    display: flex;
    background: #04c504;
    padding: 5px;
    color: white;
    justify-content: space-between;
    align-items: center;
}


nav ul{
    display: flex; 
}

nav li{
    padding-left: 20px;
    list-style: none ;
}

nav li a{
     color: black;
     text-decoration: none;
     font-size: 25px;
     
}

nav li a:hover{
    color: white;
}

/* ------------------------ Main section */



.main_section{
    padding: 15%;
    text-align: center;
}

.products{
    background-image: url("../images/curve.png ");
    max-height: 50px;
    background-size: cover;
    background-position: center top; 
    padding: 30%;
    display: flex;
}

.product{
    padding: 10px;
    margin-top: -550px;
    text-align: center;
}

.product .content{
    background-color: white;
    padding: 15px;
    border: 10px;
    box-shadow: 0 0 1px #d2cfcf;
}

.img_content{
    text-align: center;
}

.main-buttom{
    background-color: #04c504;
    width: 100%;
    padding: 10px;
    font-size: 17px;
    color: white;
    border: 0;
}

.main-buttom:hover{
    background-color: #0a7c0a;
    cursor: pointer;
    border-radius: 2px;
}